body{
    font-family: Arial;
}
main{
   display: flex;
   flex-direction: column;
   align-items: center;
}
fieldset{
    width: 35%;
    margin: 0.5em;
}
#wyslij{
    display: none;
}
#komunikat{
    display: none;
}
input[type=submit],input[type=reset],button{
    margin: 0;
    margin-right: 0.5em;
    margin-top: 1em;
    padding: 10px;
}
input[type=radio]{
    padding: 0;
    margin-right: 0.2em;
}
li{
    width: 50%;
    padding: 8px;
}
#menu{
    padding: 0;
    list-style: none;
}
#menu li{
    margin-bottom: 0.5em;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all .2s;
}
#menu li:hover{
    font-size: 1.1em;
   font-weight: bold;
}

form{
    display: table;
}
form p{ 
    display: table-row;  
}
label{ 
    display: table-cell; 
}
input{
    padding: 5px;
    margin: 1em;
    display: table-cell; 
}
img{
    float: right;
}

